.groupsSelector {
  width: 700px;
  height: 500px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
}

.text {
  width: 170px;
}

.courseField {
  display: flex;
  flex-direction: row;
  gap: 7px;
}