.sharedPage {
  >:not(:last-child) {
    border:1px solid black;
    margin-bottom: 16px;
  }

  >:last-child {
    border:1px solid black;
  }

  .loader {
    .container {
      display: flex;
      align-items: center;

      >:not(:last-child) {
        margin-right: 8px;
      }
    }
  }
};