@import '../../../../../globals/variables.module.scss';

.textField {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;

  color: black;

  &::placeholder {
    color: $gray-400;
  }
}