@import '../../../../../globals/variables.module.scss';

.textField {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;

  color: black;

  &::placeholder {
    color: $gray-400;
  }
}

.radioGroup {
  display: flex;
  flex-direction: column;
  width: fit-content;

  .option {
    display: flex;
    align-items: center;
  }
}

.simpleTextArea {
  min-height: 130px;
  width: 100%;
}

.textArea {
  display: flex;
  border-radius: 5px;
  // overflow-y: auto;

  .lineCounter {
    border: 1px solid black;
    border-right: none;
    border-radius: 5px 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    background: #D9D9D9;
    min-width: 25px;
    font-size: 16px;

    >:not(:last-child) {
      margin-right: 4px;
    }

    >:last-child {
      margin-right: 4px;
    }
  }

  .element {
    border-radius: 0 5px 5px 0;
    line-height: 21px;
    background-color: #393532;
    color: white;
    display: inline-table;
  
    position: relative;
    width: 100%;
    resize: none;
    overflow-x: hidden;
  }

  .textarea-done {
    background-color: white;
    color: black;
  }

  min-height: 165px;
  // max-height: 200px;
}
