@import '../../globals/variables.module.scss';

.wrapper {
  height: calc(100vh - 52px); //header height
  width: 100vw;

  .headerWrapper {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 5px 20px;

    .logoWrapper {
      display: flex;
      align-items: center;

      .logo {
        height: 40px;
        width: 113px;
        margin-right: 12px;
      }

      span {
        user-select: none;
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      
      & > button {
        color: white;
        user-select: none;
        transition: 0s;

        &:active {
          color: $cornflower-80;
        }
      }

      & > button:not(:last-child) {
        margin-right: 12px;
      }
    }
  }

}