@import '../../../../globals/variables.module.scss';

.stroked {
  text-shadow:
    -1px -1px 0 #000,
    0   -1px 0 #000,
    1px -1px 0 #000,
    1px  0   0 #000,
    1px  1px 0 #000,
    0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.taskWrapper {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  min-width: 766px;

  & > * {
    margin-top: 24px;
  }

  .title {
    text-align: center;
  }

  .task {
    padding: 0 0 14px 0;
    
    .maxNote {
      border-bottom: 1px solid black;
      padding: 12px 20px;
      color: $gray-400;
    }

    .description {
      padding: 20px 20px 14px 20px;
    }

    .reviewResult {
      margin: 16px 20px;
      text-align: right;


      .green {
        color: #13FF47;
        @extend .stroked;
      }
  
      .red {
        color: #FF0F00;
        @extend .stroked;
      }
    }

    

    .inputFields {
      margin: 0 20px;
    }

    .confirmButtons {
      display: flex;
      margin-top: 14px;
      justify-content: flex-end;
      margin-right: 20px;

      & > :not(:last-child) {
        margin-right: 16px;
      }
    }
  }

  .island {
    background: white;
  }
}